html{
  scroll-behavior: smooth;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
:root{
  --cinza-escuro: #121212;
  --black: #000;
  --white: #fff;
}
body{
  background: linear-gradient(220.55deg, #000000 0%, #4300B1 100%);
  transition: 300ms ease-in;
  
}
body.loaded { overflow: overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: var(--black);}

::-webkit-scrollbar-thumb {
  background: linear-gradient(220.55deg, #bdbded 0%, #4300B1 100%);
  border-radius: 20px;
  
  
}



